{% extends "base.html" %}


{% block body %}
    <div class="container">
        <h1 class="display-3 fw-bold pb-2">
            Designed for students, by students
        </h1>
        <h2 class="text-muted">Available for everyone, contributable by anyone, let's improve learning together.</h2>
        <h3 class="text-secondary border-bottom pb-2">Say goodbye to the frustration of not knowing what to study.</h3>
        <p>
            This website lets users to create cheat sheet for any subject or domain in order for knowledge to be available to
            the public.
            <br>
            Thanks to all the cheat sheet in the CSM (Cheat Sheet Market), people will better study and learn.
            <br>
            This project is open-source, as it is available on
            <a href="https://github.com/leonardo-racic/leonardo-racic.github.io">
                GitHub
            </a>.

        </p>
        <p>
            Cheat sheet are short files in which only the essential points are written.
            <br>
            It helps users remember and sharpen their understanding on a certain topic,
            either by making one helping their review but also other people, or by finding
            one that corresponds to the user's expectations around a subject.
        </p>
    </div>
{% endblock %}