{% extends "base.html" %}


{% block body %}
    <div class="container">
        <div class="mb-4">
            <div class="mb-4">
                <h1 class="display-1">{{title}}</h1>
                <h6 class="display-6">By {{author_username}}</h6>
            </div>
            <zero-md no-shadow>
                <script type="text/markdown">{{content}}</script>
            </zero-md>
        </div>
        <div class="card text-center mb-4">
            <div class="card-header">
                Description
            </div>
            <div class="card-body">
                <zero-md>
                    <script type="text/markdown">{{context}}</script>    
                </zero-md>
            </div>
            <div class="card-footer text-muted">
                {{date}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                Likes : {{likes}}
            </div>
            <div class="col">
                Dislikes: {{dislikes}}
            </div>
            <div class="col">
                <button type="button", class="btn btn-primary">Report</button>
            </div>
            <div class="col">
                <button type="button", class="btn btn-outline-primaryc">Options</button>
            </div>
        </div>
        <form method="post" action="/cheat-sheet/{{cheat_sheet_token}}" class="mb-4">
            <div class="form-group">
                <label for="comment-input">Content</label>
                <textarea class="form-control mb-2" id="comment-input" name="comment"></textarea>
            </div>
            <input type="hidden" value="comment_input" name="input_type"/>
            <button class="btn btn-primary" type="submit">Comment</button>
        </form>
        <div class="card">
            <div class="card-header ml-2">Comments</div>
            {% if len(comments) == 0}
                <small class="text-muted">No comments yet...</small>
            {% else %}
                {% for comment in comments %}
                    <span>
                        <a href="/profile/{{comment.id}}" class="link">
                            {{comment.username}}
                        </a>
                        {{comment.content}}
                    </span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}