{% extends "base.html" %}


{% block body %}
    <div class="container">
        <h2 class="display-2">
            Cheat Sheet Market (CSM)
        </h2>
        <h3 class="display-3">
            Scholar subjects
        </h3>
        <h4 class="display-4">
            Mathematics
        </h4>
        <h4 class="display-4">
            Physics
        </h4>
        <h4 class="display-4">
            Chemistry
        </h4>
        <h4 class="display-4">
            Art
        </h4>
    </div>
{% endblock %}