{% extends "base.html" %}


{% block body %}
    <div class="container">
        <h2 class="display-2">
            Cheat Sheet Market (CSM)
        </h2>
        <h3 class="display-3">
            Scholar subjects
        </h3>
        <h4 class="display-4">
            Mathematics
        </h4>
        <div class="row">
            <div class="col">
                {% for c in maths_cheat_sheet %}
                    <div class="card col text-center my-2 mx-1" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{c.title}}</h5>
                            <p class="card-text">{{c.context}}</p>
                            <a href=/cheat-sheet/{{c.token}} class="btn btn-primary mb-2">Display</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <h4 class="display-4">
            Physics
        </h4>
        <h4 class="display-4">
            Chemistry
        </h4>
        <h4 class="display-4">
            Art
        </h4>
    </div>
{% endblock %}