{% extends "base.html" %}


{% block body %}
    <div class="container">
        <div class="mb-4">
            <div class="mb-4">
                <h1 class="display-1">{{title}}</h1>
                <h6 class="display-6">By <a href="/profile/{{author_hashed_token}}" class="link">{{author_username}}</a></h6>
            </div>
            <zero-md no-shadow>
                <script type="text/markdown">{{content}}</script>
            </zero-md>
        </div>
        <div class="card text-center mb-4">
            <div class="card-header">
                Description
            </div>
            <div class="card-body">
                <zero-md>
                    <script type="text/markdown">{{context}}</script>    
                </zero-md>
            </div>
            <div class="card-footer text-muted">
                {{date}}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col">
                Likes : {{likes}}
            </div>
            <div class="col">
                Dislikes: {{dislikes}}
            </div>
            <div class="col">
                <button type="button", class="btn btn-primary">Report</button>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button
                        class="btn btn-outline-primary dropdown-toggle"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >Options</button>
                    <ul class="dropdown-menu">
                        {% if is_user_author %}
                            <li>
                                <a href="/modify-cheat-sheet/{{cheat_sheet_token}}" class="dropdown-item">Edit</a>
                            </li>
                        {% endif %}
                        <li>
                            {% if available_user_collections != [] %}
                                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#save-collection">
                                    Save to collection
                                </button>
                            {% endif %}
                            {% if unavailable_user_collections != [] %}
                                <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#remove-cheat-sheet">
                                    Remove from collection
                                </button>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="modal fade" id="save-collection" tabindex="-1" aria-labelledby="save-collection-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="save-collection-label">Save to collection</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/collections/{{hashed_token}}" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="input_type" value="save_collection_input">
                            <input type="hidden" name="cheat_sheet_token" value="{{cheat_sheet_token}}">
                            <div class="form-group mb-2">
                                <select name="collection_name" class="form-select" aria-label="Save to collection">
                                    {% for c in available_user_collections %}
                                        <option value="{{c.name}}">{{c.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="save-collection-button">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal fade" id="remove-cheat-sheet" tabindex="-1" aria-labelledby="remove-cheat-sheet-label" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="remove-cheat-sheet-label">Remove cheat sheet from collection</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <form action="/collections/{{hashed_token}}" method="post">
                        <div class="modal-body">
                            <input type="hidden" name="input_type" value="remove_cheat_sheet_input">
                            <input type="hidden" name="cheat_sheet_token" value="{{cheat_sheet_token}}">
                            <div class="form-group mb-2">
                                <select name="collection_name" class="form-select" aria-label="Save to collection">
                                    {% for c in unavailable_user_collections %}
                                        <option value="{{c.name}}">{{c.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary" id="remove-cheat-sheet-button">Remove</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% if logged_in %}
            <form method="post" action="/cheat-sheet/{{cheat_sheet_token}}" class="mb-4">
                <div class="form-group">
                    <label for="comment-input">Content</label>
                    <textarea class="form-control mb-2" id="comment-input" name="comment"></textarea>
                </div>
                <input type="hidden" value="comment_input" name="input_type"/>
                <button class="btn btn-primary mb-2" type="submit">Comment</button>
            </form>
        {% endif %}
        <h6 class="display-6">Comments</h6>
        {% if comments == [] %}
            <small class="text-muted">No comments yet...</small>
        {% else %}
            <!-- {% for comment in comments %}
                <span>
                    <a href="/profile/{{comment.token}}" class="link">
                        {{comment.username}}
                    </a>
                    <br>
                    {{comment.content}}
                </span>
            {% endfor %} -->
            <ul class="list-group mb-2">
                {% for comment in comments %}
                    <li class="list-group-item">
                        <strong>
                            <a href="/profile/{{comment.token}}" class="link">
                                {{comment.username}}
                            </a>
                            <br>
                        </strong>
                        {{comment.content}}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}