{% extends "base.html" %}


{% block body %}
    <div class="container">
        <h1 class="display-1">{{collection_name}}</h6>
        {% if cheat_sheet == [] %}
            {% if is_user %}
                <h6 class="display-6 mb-2">You have no cheat sheet saved in this collection. You should check out the Cheat Sheet Market.</h6>
            {% else %}
                <h6 class="display-6 mb-2">There are no cheat sheet for you to see</h6>
            {% endif %}
        {% endif %}
        {% if is_user %}
            <form action="/collections/{{hashed_token}}/{{collection_name}}" method="post">
                <input type="hidden" name="input_type" value="publish_collection_input">
                <button type="submit" class="btn btn-primary mb-2">
                    {{"Publish" if not is_public else "Hide"}}
                </button>
            </form>
            <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#rename-collection">
                Rename
            </button>
            <div class="modal fade" id="rename-collection" tabindex="-1" aria-labelledby="rename-collection-label" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="rename-collection-label">Rename the collection</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="/collections/{{hashed_token}}/{{collection_name}}" method="post">
                            <div class="modal-body">
                                <input type="hidden" name="input_type" value="rename_collection_input">
                                <div class="form-group mb-2">
                                    <label class="form-label" for="collection-name">Collection's new name (no spaces!)</label>
                                    <input class="form-control" type="text" name="collection_name" id="collection-name" autocomplete="off">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary" id="rename-collection-button" disabled>Rename</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if is_user or is_public %}
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
                {% for c in cheat_sheet %}
                    <div class="card col text-center my-2 mx-1" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{c.title}}</h5>
                            <a href=/cheat-sheet/{{c.token}} class="btn btn-primary mb-2">Display</a>
                            {% if is_user %}
                                <form action="/collections/{{hashed_token}}/{{collection_name}}" method="post">
                                    <div class="form-group mb-2">
                                        <input type="hidden" name="input_type" value="remove_cheat_sheet_input">
                                        <input type="hidden" name="cheat_sheet_token" value={{c.token}}>
                                        <button type="submit" class="btn btn-secondary">Remove</button>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    <script type="module" src="../static/js/rename-collection.js"></script>
{% endblock %}