<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- This link is used to import Bootstrap's CSS, DO NOT REMOVE IT! -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Fish a fiche</title>
    <script
    type="module"
    src="https://cdn.jsdelivr.net/gh/zerodevx/zero-md@2/dist/zero-md.min.js"
    ></script>
</head>


<body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <a href="/cheet-sheet-market" class="nav-link px-2 link-dark">Cheat-Sheet Market</a>
                <a href="#" class="nav-link px-2 link-secondary">Home</a>
                {% if not logged_in %}
                    <a href="/login">
                        <button class="btn btn-outline-primary me-2">Login</button>
                    </a>
                    <a href="/sign-up">
                        <button class="btn btn-primary">Sign-up</button>
                    </a>
                {% else %}
                    <a href="/sign-out">
                        <button class="btn btn-outline-primary me-2">Sign-out</button>
                    </a>
                    <a href="/profile/{{username}}">
                        <button class="btn btn-primary me-2">Profile</button>
                    </a>
                {% endif %}
            </ul>
        </header>
        {% if not logged_in %}
            <h1 class="display-1">Unlogged users cannot contribute unfortunately for now :&lpar;</h1>
            <h2 class="display-2">You could login first though!</h2>
        {% else %}
            <h1 class="display-1">Create a new cheat-sheet!</h1>
            <h2 class="display-2">The whole community thanks you for your contribution &lt;3</h2>
            <form>
                <div class="mb-3">
                    <label for="cheat-sheet-title" class="form-label">The new cheat-sheet's title</label>
                    <input name="title" type="text" class="form-control" id="cheat-sheet-title"/>
                </div>
                <div class="mb-3">
                    <label for="content" class="form-label">The new cheat-sheet's content</label>
                    <textarea name="description" class="form-control" id="cheat-sheet-description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}
        <h2 class="display-2">Need a cheat-sheet because of a deadline? You're at the right website!</h2>
    </div>


    <!-- These scripts are necessary for Bootstrap to work, DO NOT REMOVE THEM! -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>


</html>