{% extends "base.html" %}


{% block body %}
    <div class="container">
        <form action="/create-cheat-sheet", method="post">
            <div class="form-group">
                <label for="title-input">Cheat sheet's title</label>
                <input class="form-control" type="text" id="title-input" name="title" autocomplete="off">
            </div>
            

                <div class="form-group">
                    <label for="content-input">Content of the new cheat sheet <strong>written in markdown</strong></label>
                    <textarea class="form-control" id="content-input" name="content" autocomplete="off"></textarea>
                </div>

            <div class="form-group mb-4">
                <label for="comment-input">Cheat sheet's context</label>
                <textarea class="form-control" id="context-input" name="context" autocomplete="off"></textarea>
            </div>
            
            
            <button class="btn btn-primary" type="submit">Upload cheat sheet</button>
            
            {% if not logged_in %}
                <div class="alert alert-warning">
                    You have to <strong>log in</strong> to upload! 
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}