{% extends "base.html" %}


{% block body %}
    <div class="container">
        <h2 class="display-2 pb-4 fw-bold">
            Frequently asked questions
        </h2>
        <h3 class="display-3">
            I tried making a cheat sheet but it doesn't let me upload/create it!
        </h3>
        <p>
            This can happen in case your cheat sheet input does not fit in specific criteria, i.e.:
        </p>
        <ul>
            <li>
                Every input box (title, content, and context) must contain at least one character.
            </li>
            <li>
                There must be no repeated keyword in the context box.
            </li>
            <li>
                Context boxes with more than ten (exclusive) keywords are not accepted.
            </li>
            <li>
                Context boxes accept only latin characters (a-z & A-Z), as well as spaces and hyphens.
            </li>
        </ul>


        <h3 class="display-3">
            What am I supposed to do for my cheat sheet to get into the displayed categories in the Cheat Sheet Market (CSM)?
        </h3>
        <p>
            Easy, you just need to have the correct keywords in your cheat sheet's context!
            <br>
            However, they must all be separated by a space;
            <br>
            keywords on this website are conventionally written in kebab-case: words are in lowercase and separated using hyphens (-).
            If you do not respect these conventions, you will get less visibility.
            <br>
            Here are the different keywords that are (or are going to be) implemented in the CSM.
        </p>
        <pre>
            maths (arithmetic, algebra, geometry...)
            physics
            chemistry
            geography
            foreign-languages (english, spanish, german, french...)
            history (france, england, japan, india...)
            geopolitics
            sociology
            economy
            art / art-history...
            cuisine / gastronomy / recipe...
            technology / it...
        </pre>
        <p>
            Do not forget, that you will have to choose wisely your keywords as you will have a limited amount of characters in your cheat sheet's context!
            The better keywords you pick, the quicker you will be found.
        </p>
    </div>
{% endblock %}