<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Fish a fiche</title>
</head>
<body>
    <h1>Fish a Fiche</h1>
    <p>Here you'll be able to full fill your revision needs</p>
    <p><a href="./login">Login</a></p>
    <p><a href="./sign-up">sign up</a></p>
    <form>
        <input type = text />
        <button >submit</button>
    </form>
</body>
</html>