{% extends "base.html" %}

{% block body %}
    <div class="container">
        
        {% if not logged_in %}
            <h1 class="display-1">Welcome!</h1>
        {% else %}
            <h1 class="display-1">Welcome back {{username}}!</h1>
        {% endif %}
        <h2 class="display-2">Need a cheat-sheet because of a deadline? You're at the right website!</h2>
        <p>
            In this website, users upload and/or create cheat sheet, so that everyone - including you too! - can progress as they want at their own rythms!
            Check a bit the Cheat Sheet Market, and add as much knowledge as you want AND can!
        </p>
    </div>
{% endblock %}
