<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Fish a fiche</title>
</head>
<body>
    <div class="container">
        <form method="post" action="/login">
            <div class="form-outline mb-4">
                <label class="form-label" for="username-input">Username</label>
                <input name="username" type="text" id="username-input" class="form-control" autocomplete="off"/>
            </div>
            <div class="form-outline mb-4">
                <label class="form-label" for="password-input">Password</label>
                <input name="password" type="password" id="password-input" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
        </form>
    </div>
</body>
</html>