{% extends "base.html" %}


{% block body %}
    <div class="container">
        {% if not logged_in %}
            <h1 class="display-1">Hey, watch where you are going!</h1>
            <h2 class="display-2">You can't go and modify cheat sheet if you aren't even logged in!</h2>
        {% else %}
            <h3 class="display-3 mb-4">Modify cheat sheet</h1>
            <form action="/modify-cheat-sheet/{{old_cheat_sheet.token}}", method="post">
                <div class="form-group">
                    <label for="title-input">Cheat sheet's title</label>
                    <input class="form-control" type="text" id="title-input" name="title"
                        autocomplete="off" value={{old_cheat_sheet.title}}>
                </div>

                <div class="form-group">
                    <label for="content-input">Content of the new cheat sheet <strong>written in markdown</strong></label>
                    <textarea class="form-control" id="content-input" name="content" autocomplete="off">{{old_cheat_sheet.content}}</textarea>
                </div>

                <div class="form-group mb-4">
                    <label for="comment-input">Cheat sheet's context</label>
                    <textarea class="form-control" id="context-input" name="context" autocomplete="off">{{old_cheat_sheet.context}}</textarea>
                </div>
                
                <button class="btn btn-primary" type="submit" id="save-button">Save edits</button>
            </form>
        {% endif %}
    </div>
    <script>
        const MIN_LENGTH = 0;
        const MAX_TITLE_LENGTH = 32;
        const MAX_KEYWORDS = 10;
        const MAX_KEYWORD_LENGTH = 20;
    

        let titleInput = $("#title-input");
        let contentInput = $("#content-input");
        let contextInput = $("#context-input");
        let saveButton = $("#save-button");
        let form = $("#input-form");


        function isInputValid(input) {
            return (input.length > MIN_LENGTH);
        }

        
        function isTitleValid(input) {
            return isInputValid(input) && input.length <= MAX_TITLE_LENGTH;
        }


        function areCharactersValid(input) {
            for (let c of input) {
                if (c.match(/[a-z]/i) || c === "-" || c === " ") {
                    continue;
                } else {
                    return false
                }
            }
            return true;
        }


        function isKeywordNumberValid(input) {
            let numberOfKeywords = input.split(" ").length;
            return numberOfKeywords <= MAX_KEYWORDS;
        }


        function noRepeatingKeyword(input) {
            let cache = [];
            let keywords = input.split(" ");
            for (let k of keywords) {
                if (!cache.includes(k) && k.length < MAX_KEYWORD_LENGTH) {
                    cache.push(k);
                } else {
                    return false;
                }
            }
            return true;
        }


        function isContextValid(input) {
            if (!isInputValid(input)) {
                return false;
            }
            if (!areCharactersValid(input)) {
                return false;
            }
            if (!isKeywordNumberValid(input)) {
                return false;
            }
            if (!noRepeatingKeyword(input)) {
                return false;
            }
            return true;
        }


        function isFormInputValid() {
            let titleValid = isTitleValid(titleInput.val());
            let contentValid = isInputValid(contentInput.val());
            let contextValid = isContextValid(contextInput.val());
            let condition = titleValid && contentValid && contextValid
            return condition;
        }


        function updateButton() {
            if (isFormInputValid()) {
                saveButton.removeAttr("disabled");
            } else {
                saveButton.attr("disabled", "disabled");
            }
        }


        titleInput.on("input", updateButton);
        contextInput.on("input", updateButton);
        contentInput.on("input", updateButton);
    </script>

{% endblock %}