{% extends "base.html" %}


{% block body %}
    <div class="container">
        <form method="post">                
            <div class="form-group">
                <label for="title-input">Name</label>
                <input class="form-control mb-2" type="text" id="title-input" name="title" autocomplete="off">
            </div>
            <button class="btn btn-primary mb-4" id="search-button" value=Upload type="submit" disabled>Search</button>
        </form>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="cheat-sheet-tab" data-bs-toggle="tab" data-bs-target="#cheat-sheet" type="button" role="tab" aria-controls="home" aria-selected="true">Cheat-sheet</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="users-tab" data-bs-toggle="tab" data-bs-target="#users" type="button" role="tab" aria-controls="profile" aria-selected="false">Users</button>
            </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="cheat-sheet" role="tabpanel" aria-labelledby="cheat-sheet-tab">
                <div class="d-flex flex-column align-items-center text-center">
                    {% if cheat_sheet == [] %}
                        <small class="text-muted mb-2">No results</small>
                    {% elif cheat_sheet == None %}
                        <small class="text-muted mb-2">you need exact name for this to work will be improved</small>
                    {% else %}
                        <div class="row row-col-{{max_c_per_row}}">
                            {% for c in cheat_sheet %}
                                <div class="card col text-center my-2 mx-1" style="max-width: 18rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">{{c.title}}</h5>
                                        <p class="card-text">{{c.context}}</p>
                                        <a href=/cheat-sheet/{{c.token}} class="btn btn-primary mb-2">Display</a>
                                        {% if is_user %}
                                            <form action="/cheat-sheet/{{c.token}}" method="post">
                                                <input type="hidden" name="input_type" value="delete_cheat_sheet_input">
                                                <input type="hidden" name="cheat_sheet_token" value="{{c.token}}">
                                                <button type="submit" class="btn btn-secondary">
                                                    Delete
                                                </button>
                                            </form>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane fade" id="users" role="tabpanel" aria-labelledby="users-tab">
                This is still a wip
            </div>
        </div>
    </div>
{% endblock %}
