{% extends "base.html" %}


{% block body %}
    <div class="container">
        <h6 class="display-6 mb-2">Sign up</h6>
        <form method="post" action="/sign-up">
            <div class="form-group mb-2">
                <label class="form-label" for="username-input">Username</label>
                <input name="username" type="text" id="username-input" class="form-control" autocomplete="off"/>
            </div>


            <div class="form-group mb-2">
                <label class="form-label" for="password-input">Password</label>
                <input name="password" type="password" id="password-input" class="form-control"/>
            </div>
            <button type="submit" class="btn btn-primary btn-block mb-4" id="sign-up-button" disabled>Sign in</button>
        </form>
    </div>
    <script>
        const MIN_LENGTH = 0;
        const FORBIDDEN_CHARS = ";";


        let passwordInput = $("#password-input");
        let usernameInput = $("#username-input");
        let signUpButton = $("#sign-up-button");


        function isUsernameValid(username) {
            for (let i = 0; i < username.length; i++) {
                if (FORBIDDEN_CHARS.includes(username[i])) {
                    return false;
                }
            }
            return username.length > MIN_LENGTH;
        }


        function isPasswordValid(password) {
            return password.length > MIN_LENGTH;
        }


        function isInputValid() {
            let username = usernameInput.val();
            let password = passwordInput.val();
            let usernameValid = isUsernameValid(username);
            let passwordValid = isPasswordValid(password);
            return usernameValid && passwordValid
        }


        function updateButton() {
            if (isInputValid()) {
                signUpButton.removeAttr("disabled");
            } else {
                signUpButton.attr("disabled", "disabled");
            }
        }


        usernameInput.on("input", updateButton);
        passwordInput.on("input", updateButton);
    </script>
{% endblock %}