{% extends "base.html" %}


{% block body %}
    <div class="container">
        <form method="post" enctype=multipart/form-data>
                
            <input type= "file" name= "file" class="btn btn-outline-primary me-2">

            <!-- nom de la fiche de révision-->
            <div class="form-group">
                <label for="title-input">Cheat sheet's title</label>
                <input class="form-control" type="text" id="title-input" name="title" autocomplete="off">
            </div>


            <!-- commentaire du créateur de la fiche à propos de sa fiche-->
            <div class="form-group mb-4">
                <label for="comment-input">Cheat sheet's description</label>
                <textarea class="form-control" id="context-input" name = "description" autocomplete="off"></textarea>
            </div>


            <div class="form-group mb-4">
                <label for="comment-input">Cheat sheet's keywords</label>
                <textarea class="form-control" id="context-input" name ="keywords" autocomplete="off"></textarea>
            </div>
            
            <button class="btn btn-primary" value=Upload type="submit">Upload cheat sheet</button>
            {% if not logged_in %}
                <div class="alert alert-warning">
                    You have to <strong>log in</strong> to upload! 
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}