{% extends "base.html" %}

{% block body %}
    <div class="container">
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    {% if profile_picture == "" %}
                        <svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                        </svg>
                    {% else %}
                        <img src={{profile_picture}} class="rounded-circle" alt="profile icon">
                    {% endif %}
                        <div class="mt-3">
                        <h4>{{username}}</h4>
                        <p class="text-secondary">{{description}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-2">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <h4>{{"My public cheat-sheets" if is_user else "Their public cheat-sheets"}}</h4>
                    {% if cheat_sheet == [] %}
                        <small class="text-muted">No personally made cheat sheet yet...</small>
                        <a href="/create-cheat-sheet" class="btn btn-primary">Create new cheat sheet</a>
                    {% else %}
                        <div class="row">
                            {% for c in cheat_sheet %}
                                <div class="card col">
                                    <div class="card-body">
                                        <h5 class="card-title">{{c.title}}</h5>
                                        <p class="card-text">{{c.context}}</p>
                                        <a href=/cheat-sheet/{{c.token}} class="btn btn-primary">Display</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if is_user %}
            <a class="btn btn-primary" href="/modify-profile" role="button">Edit Profile</a>
        {% endif %}
    </div>
{% endblock %}